.banner_bg_main {
   width: 100%;
    float: left;
    background-image: url('../src/images/banner-bg.jpg');
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
